<h1>Students</h1>

<table style = 'border-collapse: collapse; text-align: center;'>

<tr style='border: 1px solid black;'>
<th style='border: 1px solid black; padding:2px;'>Name</th>
<th style='border: 1px solid black; padding:2px;'>Grade</th>
</tr>

<% @students.all.each do |student| %>
<tr style='border: 1px solid black'>

    <td style='border: 1px solid black;padding:2px;'> <%= student.name %> </td>
    <td style='border: 1px solid black;padding:2px;'> <%= student.grade %> </td>
    </tr>
<% end %> 
</table>

<a href='/'>Go back to local host 9393</a>